/* カレンダー戻るボタン */
.calendar-back-to-button {
 margin-top: 1em;
}

/* カレンダー要素の非表示 */
.calendar-hide {
 display: none;
}

/* カレンダー要素の表示 */
.calendar-show {
 display: block;
}

.calendar-border {
	border: solid 1px #000;
}

.calendar-inline {
  	display:inline;
}


.calendar-table {
  	display:table;
	width: 100%;
}

.calendar-table-row {
  	display:table-row;
}

.calendar-table-cell {
  	display:table-cell;
}

.calendar-cell {
  	/* display:table-cell; */
	min-width: 20em;
	max-width: 20em;
}

.calendar-border {
  	border-top: 1px solid #ddd;
  	border-right: 1px solid #ddd;
  	border-bottom: 0px solid #ddd;
  	border-left: 0px solid #ddd;
}

.calendar-head {
  	border-top: 0px solid #ddd;
  	border-right: 0px solid #ddd;
  	border-bottom: 0px solid #ddd;
  	border-left: 0px solid #ddd;
}

.calendar-sun {
	color: #d9534f; /* brand-danger: */
}

.calendar-sat {
	color: #5bc0de; /* @brand-info: */
}

.calendar-tbl-td-pos {
	vertical-align: top;
}

.calendar-col-week-head {
	width: 4.1%;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
}

.calendar-col-day-head {
	width: 13.7%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 5px;
	text-align:center;
}

/*-- カレンダー カラム 月縮小　ヘッダー --*/
.calendar-col-small-day-head {
	width: 14.3%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #ddd;
	//padding: 5px;
	padding: 0px 0px 5px;
}

/*-- カレンダー カラム 月縮小 --*/
.calendar-col-small-day {
	width: 14.3%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	//padding: 5px;
	padding: 5px 0px;
}

.calendar-smonthly-div > table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	table-layout: fixed;
}

/*-- カレンダー カラム 月縮小 (ホバー時) --*/
.calendar-col-small-day:hover {
	cursor: pointer;
	background-color: #eee;
}

.calendar-col-week {
	width: 4.1%;
	border: 1px solid #ddd;
	height: 10em;
	text-align:center;
	font-weight:normal;
}

.calendar-col-week:hover {
	cursor: pointer;
	background-color: #d9edf7;
}

.calendar-col-day {
	width: 13.7%;
	border: 1px solid #ddd;
	padding: 3px;
	position:relative !important;
}
.calendar-col-day .calendar-day {
	font-size:2.0em;
	display:inline-block;
	padding:0em 0.2em;
	margin-bottom:-0.5em;
}

.calendar-plan-mark {
	border-left-width: 3px;
	border-left-style: solid;
	padding: 0px 0px 0px 5px;
	margin: 5px 0px 5px 3px;
}

/*-- 単一日カレンダー　非タイムライン　時間帯 装飾 --*/
.calendar-daily-nontimeline-periodtime-deco {
	padding: 0 5px 0 0;
}

.calendar-plan-mark-public {
	border-left-color: #428bca;
}

.calendar-plan-mark-group {
	border-left-color: #5cb85c;
}

.calendar-plan-mark-private {
	border-left-color: #f0ad4e;
}

.calendar-plan-mark-member {
	border-left-color: #d9534f;
}

.calendar-plan-mark-share {
	border-left-color: #e888ec;
}


/*-- カレンダー月縮小用mark 色 --*/
.calendar-plan-smallmonthly-mark-deco {
	height: 4px;
	width: 4px;
	margin: 1px 0px 1px 1px;
}

/*-- カレンダー月縮小用mark 色 --*/
.calendar-plan-smallmonthly-mark-public {
	background-color: #04419a;
}
.calendar-plan-smallmonthly-mark-group {
	background-color: #5da302;
}
.calendar-plan-smallmonthly-mark-private {
	background-color: #d78f03;
}
.calendar-plan-smallmonthly-mark-allmember {
	background-color: #c90505;
}

/*-- 月拡大カレンダーの予定が入っている日 --*/
.calendar-tbl-td-plan {
	background-color: #dff0d8;
}

/*-- 週カレンダーのルーム単位の予定 --*/
.calendar-tbl-td-room-plan {
	/* background-color: #dff0d8; */
}

.glyphicon-edit:hover, .glyphicon-plus:hover, .glyphicon-eye-open:hover, .glyphicon-eye-close:hover {
	cursor: pointer;
	background-color: #eee;
}

.calendar-plan-clickable:hover {
	cursor: pointer;
	background-color: #eee;
}

.calendar-day:hover {
	cursor: pointer;
	background-color: #e6eff6;
}

/* カレンダー表示切替タブ */
.nav-tabs.calendar-date-move-tablist {

}
.nav-tabs.calendar-date-move-tablist > li > a {
	font-size: 1.5em;
	padding-left: 1.2em;
	padding-right: 1.2em;
}
/* カレンダー先頭の年月移動リンク入れ物 */
.calendar-date-move-operations {
	margin-bottom:1em;
	display:-webkit-box;
	display:-moz-box;
	display:box;
	-moz-box-align:center;
	-webkit-box-align:center;
	box-align:center;
}
.calendar-date-move-operations > a {
	display:block;
	padding: 5px 14px;
}
.calendar-date-move-operations > label {
	display:block;
	margin: 0;
	cursor: pointer;
}
.calendar-date-move-operations > label > h2 {
	margin:0;
}
@media screen and (max-width:767px) {
	.calendar-date-move-operations {
		margin-top:0.5em;
	}
	.calendar-date-move-operations > label > h2 {
		font-size:20px;
	}
}
.calendar-date-move-operations > label small {
	color:inherit;
	margin-left:0.25em;
	margin-right:0.25em;
}
/* 今月へボタン */
.calendar-this-month {
}
.calendar-this-month a {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
}
.calendar-this-month a:hover, .calendar-this-month a:focus {
	text-decoration: none;
	background-color: #e6eff6;
}
/* 年月移動DateTimePickerInputのCSS 隠れて見えないようにしている */
.calendar-datetimepicker-hide-input {
	margin: 0;
	width: 0;
	height : 0;
	opacity: 0;
	display: block;
	float: left;
}
/*-- カレンダー　予定共有 人情報 --*/
.calendar-share-person {
	margin-right: 1em;
}

/*-- カレンダー 予定共有　人情報 （ホバー時)--*/
.calendar-share-person:hover {
	cursor: pointer;
	background-color: #eee;
}

/*-- マージン左調整 --*/
.calendar-margin-left-adjust {
	margin-left: 1em;
}

.calendar-monthly-table {
	width: 100%;
}

/*-- カレンダー月縮小 --*/
.calendar-smallmonthly-table {
	width: 50%;
}

.calendar-weekly-table {
	width: 100%;
}

.calendar-daily-timeline-table {
	width: 100%;
}

/*-- 週カレンダー のルーム名のヘッダ--*/
.calendar-weekly-col-room-name-head {
	min-width:6em;
	width: 16%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	padding-bottom:10px;
	//background-color:#f5f5f5;
}


/*
.calendar-weekly-col-room-name-head div{
	margin-top:15px;
	font-size:1.2em;
}
*/

.calendar-weekly-col-day-head {
	width: 12%;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 0.2em;
	vertical-align:top;
}
.calendar-weekly-col-day-head .calendar-day {
	font-size: 1.8em;
	display: inline-block;
	padding: 0em 0.2em;
}
.calendar-weekly-col-day-head .calendar-day small {
	font-size:70%;
}
.calendar-weekly-col-day-head-bottom {
	width: 12%;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #ddd;
	min-height:1.2em;
}
.calendar-weekly-holiday {
	min-height:1.5em;
	display: block;
}
/*-- 週カレンダーのルーム名のセル --*/
.calendar-weekly-col-room-name {
	width: 16%;
	border: 1px solid #ddd;
	height: 2em;
	padding: 3px;
	background-color:#f5f5f5;
	text-align:left;
}

/*-- 単一日カレンダー タイムライン カラム 時間帯 --*/
.calendar-daily-timeline-col-periodtime {
	width: 10%;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	height: 2em;
	padding: 5px;
}
/*-- 単一日カレンダー タイムライン カラム 時間　ヘッダー --*/
.calendar-daily-timeline-col-periodtime-head {
	width: 10%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	height: 2em;
	padding: 5px;
}

/*-- 単一日カレンダーのタイムラインのスリット --*/
.calendar-daily-timeline-col-slit {
	width: 90%;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 0px;
}

/*-- 単一日カレンダーのタイムラインのスリット ヘッド--*/
.calendar-daily-timeline-col-slit-head {
	width: 90%;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #ddd;
	padding: 0px;
}

/*-- 単一日カレンダーの予定 --*/
.calendar-daily-nontimeline-col-plan {
	/* border: 1px solid #ddd; */
	height: 1em;
	padding: 10px 5px 0px 5px;
}

.calendar-weekly-col-day {
	width: 12%;
	border: 1px solid #ddd;
	padding: 3px;
	text-align:left;
}

.calendar-weekly-subroom, .calendar-daily-nontimeline-plan, .calendar-schedule-row-title {
	margin-left: 10px;
}

/*-- カレンダー スケジュール行の予定 --*/
.calendar-schedule-row-plan {
	margin-left: 35px;
}

/*-- カレンダーヘッダーのページャー部 --*/
.calendar-weekly-year-pager, .calendar-weekly-month-pager .calender-month-pager{
	height: auto;
}

.calendar-pager-weekly{
	padding-left:10px;
}
.calendar-pager-weekly-button{
	float:left;
	margin: 10px;
	padding-left: 10px;
}

.calendar-weekly-col-plus div{
	background-color:#efefef;
}

/*-- カレンダーヘッダーのページャー部 (ボタン) 2016.3.3--*/
.calendar-pager-button .pager li > a{
	padding-right:5px !important;
	border:none;
	text-align:left;
}


.calendar-pager-daily-button {
    float: left;
    margin: 10px;
    padding-left: 10px;
}


/*-- 単一日カレンダー 非タイムライン --*/
.calendar-daily-nontimeline-table {
	width:100%;
	height:1em;
	border: 1px solid #ddd;
	padding: 5px;
}

/*-- 単一日カレンダー タイムライン スリット装飾 --*/
.calendar-daily-timeline-slit-deco {
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: #eee;
	text-align: left;
	width: 6em;
	border-left-width: 5px;
	border-left-style: solid;
	margin: 0 0 0 5px;
	padding: 5px;
	overflow: hidden;
}

/*-- 共通マージン・パディング(0) --*/
.calendar-common-margin-padding {
	margin: 0;
	padding: 0;
}

/*-- スケジュール（会員順）会員 --*/
/*
.calendar-schedule-member {
	margin-left: 30px;
}
*/

/*-- スケジュール（時間順・会員順）会員 --*/
.calendar-schedule-row-member-t { /* kuma mとtで分けた */
	margin-left: 30px;
	text-align:right; /* 2016.02.29kuma */
}

.calendar-schedule-row-member { /* kuma */
	margin-left: 30px;
}

/*-- カレンダー スケジュール行の予定（会員順） --*/
.calendar-schedule-row-plan-member {
	margin-left: 0px;
}

/*-- カレンダー スケジュール行(行頭 並べ替え) 2016.3.3 --*/
.calendar-schedule-sort-top {
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
}

/*-- カレンダー スケジュール行(行末 並べ替え) 2016.3.3 --*/
.calendar-schedule-sort-bottom {
	margin-bottom: 5px;
	padding-top: 10px;
	border-top: 2px solid #eee;
}



/*-- カレンダー 範囲外 --*/
.calendar-out-of-range {
	background-color: #F5F5F5;
}
td.calendar-col-day.calendar-out-of-range  .calendar-day {
	font-size:1.4em;
	margin-top:0.2em;
}

/*-- カレンダー セル 祝日--*/
.calendar-tbl-td-holiday {
	background-color: #F2DEDE;
}

/*-- カレンダー セル 今日--*/
.calendar-tbl-td-today {
	background-color: #ffffcf;
	border: 1px solid #f0d946 !important;
}

/*-- カレンダー セル 今日--*/
.calendar-weekly-tbl-td-today {
	background-color: #ffffcf;
	border: 2px solid #f0d946;
	border-bottom-style: inherit;
	border-left-color: #f0d946;
	border-left-width: 2px;
	border-right-color: #f0d946;
	border-right-width: 2px;
	border-top-color: #ddd;
	border-top-width: 1px;
	border-bottom-color: #ddd;
}

.calendar-weekly-tbl-td-today-head-top {
	background-color: #ffffcf;
	border-left-color: #f0d946;
	border-left-width: 2px;
	border-right-color: #f0d946;
	border-right-width: 2px;
	border-top-color: #f0d946;
	border-top-width: 2px;
}

.calendar-weekly-tbl-td-today-head-bottom {
	background-color: #ffffcf;
	border-left-color: #f0d946;
	border-left-width: 2px;
	border-right-color: #f0d946;
	border-right-width: 2px;
	padding-right:10px;

}

.calendar-weekly-tbl-td-today-last {
	background-color: #ffffcf;
	border-left-color: #f0d946;
	border-left-width: 2px;
	border-right-color: #f0d946;
	border-right-width: 2px;
	border-top-color: #ddd;
	border-top-width: 1px;
	border-bottom-color: #f0d946;
	border-bottom-width: 2px;
}

/*-- カレンダー 対象の回転表示 --*/
.calendar-rotate-right-90deg {
	transform: rotate(90deg);
}

/*-- カレンダー スケジュール行の予定（会員順） --*/
.calendar-schedule-row-plan-member {
	margin-left: 30px;
}

/*-- カレンダー 詳細編集フィールド 2016.3.2 --*/
.calendar-detailedit-detail {
	padding-left:30px;
}

/*-- カレンダー 予定追加・編集 詳細（添え文字）2016.3.2  --*/
.calendar-detailedit-addchar {
	padding-top:1em;
}

/*-- カレンダー 特定予定の情報（間隔）2016.3.3  --*/
.calendar-eachplan-box {
	padding-top:10px;
	padding-bottom:10px;
	margin-top:10px;
}


/*  カレンダー 月拡大表示の画面サイズxsの場合  */
@media screen and (max-width:767px) {
	table.calendar-monthly-table td.calendar-col-day{
		width:100%;
		height:auto;
		display:block !important;
	}
	table.calendar-monthly-table td.calendar-col-day.calendar-out-of-range{
		display:none !important;
	}

	/*-- カレンダー 詳細編集フィールド(max-width:767px) --*/
	.calendar-detailedit-detail {
		adding-left:0px;
	}

	/* カレンダー 週表示 2016.03.03 */
	.calendar-weekly-table {
		font-size: 75%;
	}

	/* カレンダー 管理系 表示変更(タブ)  2016.03.04 */
	.calendar-change-nav-tabs > li > a {
		padding:10px 10px !important;
		font-size:88%;
	}

	/* カレンダー予定簡易編集（幅狭用input-group）*/
	.calendar-widecase-input-group {
		/* 明示的に空にするクラス */
	}

	/* カレンダー予定簡易編集（幅狭用 via（minus）マーク）*/
	.calendar-widecase-via-mark {
		display: inline-block;
		margin-left:40%;
		width: 3em;
	}

}

/* カレンダーフレームセッティング */
.calendar-panel-not-select>.panel-heading {
	background-color: white;
}

.nc-checkbox-toggle-btn {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}

/* カレンダー予定簡易編集（通常幅用input-group）2016.03.26 */
.calendar-widecase-input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

/* カレンダー予定簡易編集（通常幅用 via（minus）マーク）2016.03.26 */
.calendar-widecase-via-mark {
	/* 明示的に空にするクラス */
}

.calendar-sunday {
  color:#cc3333;
}

.calendar-saturday {
  color:#3366cc;
}

.calendar-month {
  vertical-align:middle;
  color:#333;
}

.calendar-smonthly-div{
  width:100%;
  text-align:center;
}

.calendar-smonthly-div div{
  width:100%;
  margin:0 auto;

}

/* カレンダー ルーム凡例 */
.panel.calendar-room-legend {
	margin-top:25px;
}
.calendar-room-legend {
	margin-bottom: 0px;
	padding-bottom:0px;
}
.calendar-room-legend .calendar-plan-mark {
	border-left-width: 3px;
	border-left-style: solid;
	padding: 0px 0px 0px 5px;
	margin: 0px 5px 5px 3px;
}

/* カレンダーの時間 */

.calendar-plan-time {
	margin: 1px 5px 1px 5px;
	font-weight: normal;
	float: left;
}

/* カレンダーのスペース名 */
.calendar-plan-spacename {
	margin: 0px;
	padding-top:1px;
	padding-left:5px;
	font-weight: normal;
	float: left;
}

/* カレンダーのタイトル */
.calendar-plan-tittle {
	margin: 0px;
	padding-bottom:4px;
	clear: left;
	font-size: 1.07em;
}

/* カレンダーの場所 */
.calendar-plan-place {
	margin: 0px;
	padding-top:1px;
	font-weight: normal;
}

/* カレンダーの住所 */
.calendar-plan-address {
	margin: 0px;
	padding-top:1px;
	font-weight: normal;
}
/* カレンダー＋アイコン */
a.calendar-edit-plus-icon {
	padding: 0.1em 0.3em;
	display: inline-block;
	font-size: 1.6em;
	color: #bbb;
	position:absolute;
	right:0;
	z-index:100;
}
.calendar-weekly-col-day-head-bottom a.calendar-edit-plus-icon {
	position:static;
	right:0;
}
a.calendar-edit-plus-icon:hover {
	text-decoration:none;
	background-color:#dff0d8;
	color:#3c763d;
}

.calendar-space0 {
margin: 0;
padding: 0;
}
